.test {
  margin: 50px auto;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #45844a;
  animation: opas 2s ease-out alternate;
}

@keyframes opas {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
