h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 20px;
}
input {
  border: solid;
  margin: 10px;
}
.error {
  color: red;
}
.select {
  border: solid;
  margin: 10px;
}
button {
  width: 150px;
  height: 30px;
  background: salmon;
}
form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
