.out {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: gold 1px solid;
}
.in1 {
  background: rgb(142, 71, 212);
  height: 50px;
}
.in2 {
  background: rgb(54, 153, 51);
  flex: 1 0 auto;
}
.in3 {
  background: rgb(230, 190, 60);
  height: 50px;
}
