.landing {
  color: var(--green);
  padding: var(--content-padding-top-max) 0;
  font-size: 24px;
  line-height: 30px;
}
@media (max-width: 1025px) {
  .landing {
    padding: var(--content-padding-top-1025px) 0;
  }
}
@media (max-width: 570px) {
  .landing {
    padding: var(--content-padding-top-570px) 0;
    font-size: 16px;
    line-height: 23px;
  }
}
