.thanks {
  color: var(--green);
  padding: var(--content-padding-top-max) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 990px;
}
.body {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-right: 20px;
}
.title {
  font-size: var(--title-fs-max);
  line-height: var(--title-lh-max);
  text-align: center;
}
.subtext {
  font-size: 24px;
  line-height: 23px;
  text-align: center;
  margin: 30px 0;
}
.img {
  display: block;
  width: 285px;
}

@media (max-width: 1024px) {
  .thanks {
    padding: var(--content-padding-top-1025px) 0;
    display: block;
  }
  .body {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: -50;
    opacity: var(--bg-opacity);
    top: 150px;
    width: 350px;
    pointer-events: none;
  }
}

@media (max-width: 570px) {
  .thanks {
    min-width: 290px;
    min-height: 100%;
    padding: var(--content-padding-top-570px) 0;

    width: fit-content;
  }
  .decor {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  .title {
    font-size: var(--title-fs-570px);
    line-height: var(--title-lh-570px);
    text-align: center;

    width: fit-content;
  }
  .subtext {
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    width: fit-content;
  }
  .img {
    top: 150px;
    width: 285px;
  }
}
