.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.btn {
  width: 350px;
  height: 65px;
  background: var(--dark-pink);
  outline: 2px solid var(--white);
  outline-offset: -7px;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  margin-top: 40px;
}

.btn:disabled {
  background: var(--grey-green);
}
