.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  font-family: "Roboto";
  font-weight: 300;

  /* project varialeas */
  --darck-green: #253528;
  --green: #49654e;
  --light-green: #8ba889;
  --grey-green: #e4e6d9;
  --red: #f65a67;
  --dark-pink: #fbbfbf;
  --light-pink: #fed4d4;
  --white: #ffffff;

  --bg-opacity: 15%;

  --title-fs-max: 50px;
  --title-lh-max: 59px;
  --subtitle-fs-max: 35px;
  --subtitle-lh-max: 41px;
  --title-fs-570px: 26px;
  --title-lh-570px: 30px;

  --content-padding-top-max: 85px;
  --content-landing-padding-top-max: 50px;
  --content-padding-top-1025px: 40px;
  --content-padding-top-570px: 20px;

  --content-column-gap-max: 70px;
  --content-column-gap-1025px: 15px;

  --input-fs-max: 20px;
  --input-fs-570px: 18px;
  --input-lh-max: 23px;
  --input-lh-570px: 22px;

  /* ************* */
}
.content {
}
.container {
  display: block;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  /* border: solid 1px; */
}

@media (max-width: 1025px) {
  .container {
    padding: 0 25px;
  }
}
@media (max-width: 570px) {
  .container {
    padding: 0 15px;
  }
}
