.wrapper {
  display: grid;
  min-height: 100%;
  grid-template-rows: 90px minmax(680px, 1fr) 315px;
  font-family: "Roboto";
  font-weight: 300;
}
.content {
}
.container {
  display: block;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
  border: solid 1px; /* -- */
}
